body {
    background-color: black;
    
}
.centerImg {
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footerLinks {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 15%;
    width: 10%;
    height: 10%;

}
h1 {
    color: goldenrod;
    display: flex;
    justify-content: center;
}
h2 {
    color: goldenrod;
}
h3 {
    color: goldenrod;
}
