/* This sets the background color. */

body {
    background-color: black;
    
}
/* This targets the header and sets the color for the border, font and dimensions of padding and orientation. */

header { 
    display: flex;
    background-color: #a23627;
    text-shadow: 2px 2px #c8953f; 
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}
/* This targets the navigation bar and turns the background of the bar black. */

.navList {
    background-color: black;
}

/* This sets uniform font and adds effect, if you delete this the nav bar goes black and you cannot see any of the hyperlinks */
nav ul {
    font-family: 'Courier New';
    margin: 0;
    text-shadow: 2px 2px whitesmoke;
}
/* Code simply aligns h1 to center. All of them. */

section > h1 {
    text-align: center; 
}

/* Styles the individiual hyperlinks in the Nav Bar on News */
/* If you remove this it makes the words have a red shadow in the nav bar */
li > a {
    color: black;
    font-weight: bold;
}
/* The following code centers the links in the footer and sets spacing and color style of background */

footer {
    background-color: black;
    display: flex; 
    justify-content: center;

}
/* Code that targets the body and makes edges meet the border of visibility if removed makes ugly boxes */

html, body {
    margin: 0;
    padding: 0;
}
/* targets h3 elements in index.html and condenses data on main page if removed spreads out data */

h3 {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
/* These all target footer and icons in footer setting size and uniformity */

.twitterIcon {
    width: 10%;
    margin-top: 12px;
}

.instagramIcon {
    width: 10%;
    margin-top: 10px;
}

.imdbIcon {
    width: 10%;
    margin-top: 15px;
}

.WWDTMLogo {
    width: 15%;
    margin-left: 325px;
}

.footerIcons {
    display: flex;
}

.footerLink {
    text-align: center;
}
/* This sets the parameters of the center image portrait and is the main piece of the page */

.centerImg {
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}
.zachpick{
    height: 60px;
}
/* These target the individual fonts and h1-3 elements for font and styling. */

h1 {
    color: goldenrod;
    display: flex;
    justify-content: center;
    
}
h2 {
    color: goldenrod;
    display: flex;
    justify-content: center;
}
h3 {
    color: goldenrod;
    display: flex;
    justify-content: center;
}

