ul {
    list-style-type: none;
}

.navList {
    display: flex;
    justify-content: space-evenly;
    background-color: #848484;
    padding: 10px 30px 10px 30px;
    color: #bf8936;
    
}

.footerLinks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;  
}