/* cannot get CSS to work to make my image smaller */

#NC-Map {
    display: flex;
    flex-basis: 10%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: orangered;
}

h2 {
    color: grey;
}
